@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  font-family: Inter;
  font-weight: 400;

  color: rgb(100,100,100);
  background-color: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-width: 340px;
}

Nav{
  position: fixed;
  z-index: 3;
  top: 0;
}

main{
  padding-top: 4em;
}
